* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #141414;
  letter-spacing: 0.03rem;
  user-select: none;
}

img {
  width: 100%;
  display: block;
}

ul,
li,
ol,
menu {
  list-style: none;
  color: currentColor;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.btn {
  min-width: 60px;
  height: 40px;
  color: #fff;
  padding-left: 2rem;
  padding-right: 2.4rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 0px;
  color: #141414;
}
.btn:hover {
  background-color: #ffffffa9;
}

.btn_round {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(42, 42, 42, 0.6);
  cursor: pointer;
  padding: 0.8rem;
  user-select: none;
  border-radius: 50%;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.6); /* Bordo bianco opacizzato */
  transition: background-color 0.3s, border-color 0.3s; /* Transizione per l'hover */
}

.btn_round:hover {
  background-color: rgba(
    107,
    107,
    107,
    0.8
  ); /* Background più chiaro al hover */
  border-color: rgba(255, 255, 255, 0.9); /* Bordo più chiaro al hover */
}

.btn_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
  min-width: 60px;
  height: 40px;
  padding-left: 2rem;
  padding-right: 2.4rem;
  transition: all 0.3s ease;
}
.info_icon {
  font-size: 16px;
}

.btn_info:hover {
  background-color: rgba(109, 109, 110, 0.38);
}

.circle {
  border: 2px solid white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
}

.modal_btn {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  text-decoration: none;
  cursor: pointer;
  padding: 10px ;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: rgba(24, 24, 24);


  span {
    font-size: 18px;
    color: rgba(24, 24, 24);

  }
}

.modal_btn:hover {
  background-color: #6666662d;
}
