*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #141414;
    letter-spacing: .03rem;
    user-select: none;
}

img {
    width: 100%;
    display: block;
}

ul, li, ol, menu {
    list-style: none;
    color: currentColor;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.btn {
    padding: 8px 3px;
    width: 70px;
    border-radius: 15px;
    cursor: pointer;
}

