*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    display: block;
}

ul, li, ol, menu {
    list-style: none;
    color: currentColor;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    padding: 8px 3px;
    width: 70px;
    border-radius: 15px;
    cursor: pointer;
}

